<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="console_out_appender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] (%c) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.socyno" level="INFO" additivity="false" includeLocation="false">
            <AppenderRef ref="console_out_appender"/>
        </AsyncLogger>
        <AsyncRoot level="INFO" includeLocation="false">
            <AppenderRef ref="console_out_appender" />
        </AsyncRoot>
    </Loggers>
</Configuration>
